@charset "utf-8";

$brown: #FFF6FF; // text color
$beige-light: rgb(233, 232, 227);
// $family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
// Primary colours
$ca-palette-paper: #f2edde;

// Text colours
$text-color:#3e4543;

//tile
$notification-background-color:#f3786d;

//titles
$card-color: $ca-palette-paper;
$title-color: #9672C6;
$subtitle-color: #fffdf5;
//other
$grey-dark: $brown;
$grey-light: $beige-light;
$title-weight: 550;
$body-background-color: #fde2f6;
$background: #FCEAFF;
$primary: #B97AEC;
$warning: rgb(244, 213, 248);
$yellow-invert: #636463;
$primary-hero: #B97AEC;
$secondColour: rgb(186, 137, 247);
$light: #FFF6FF;
$info: #FCEAFF;
//links
$link-hover-background: #FFA2BC;
$link: $background; //ALL Links
// icons for frameworks
$icon-dimensions-large: 5rem;

// navbar
$navbar-background-color:$secondColour;

$navbar-dropdown-arrow: $background;
$navbar-dropdown-arrow-hover-color: $background;
$navbar-item-color: $background;
$navbar-dropdown-background-color: $secondColour;
$navbar-dropdown-item-active-color: rgb(41, 40, 40);
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-hover-color: #9672C6;
$navbar-item-hover-background-color: rgba(202, 152, 243, 0.911);


// icon
$icon-dimensions-large: 5rem;
$icon-dimensions-medium: 3rem;

$radius: 0px;
// $radius-small: 10px;
$easing: ease-in;
$tabs-link-hover-color: #4B4453 !important;
// a:hover {
//   background-color: $link-hover-background; //TO FIX
//   opacity: 0.9;
//   transition: 0.5s;
// }
$tabs-boxed-link-radius: 20px;
$tabs-toggle-link-radius: 20px;
.heroTitle {
  color: #9672C6 !important;
}



@import "../../node_modules/bulma/bulma.sass";