@charset "utf-8";

$brown: #faf4e7; // text color
$beige-light: rgb(233, 232, 227);
// $family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
// Primary colours
$ca-palette-paper: #f2edde;

// Text colours
$text-color:#3e4543;
// Progress bar
$progress-value-background-color:#e05346;
$progress-bar-background-color: #f1bd12;

//tile
$notification-background-color:#f3786d;

//titles
$card-color: $ca-palette-paper;
$title-color: #fbfcfa;
$subtitle-color: #fffdf5;
$navbar-background-color: #eead4b;
//other
$grey-dark: $brown;
$grey-light: $beige-light;
$link: #41372f;
$title-weight: 550;
$body-background-color: #f7a03e;
$background: #f2edde;
$primary: #f7ad8a;
$icon-dimensions-large: 5rem;
$link-hover-background: rgb(238, 133, 63);
$link-hover: rgb(17, 15, 15);
a:hover {
  background-color: $link-hover-background; //TO FIX
  opacity: 0.9;
  transition: 0.5s;
}


@import "../../node_modules/bulma/bulma.sass";