.experience-info {
  color:  #636463 !important;
}
.largeTitle {
  @media (max-width:961px) {
    font-size: 3rem !important;
  }
  @media (min-width:961px) {
    font-size: 8rem !important;
  }
  color:  rgb(217, 193, 248) !important;
}