{
  "env": {
      "browser": true,
      "es6": true
  },
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"], 
  "globals": {
      "Atomics": "readonly",
      "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2020,
      "sourceType": "module"
  },
  "plugins": [
    "react", "jest", "react-hooks"
  ],
  "rules": {
    "no-console": 0,
    "brace-style": [1, "stroustrup"],
    "arrow-body-style": 0,
    "max-len": [1, 100, 2],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
    }],
    "quote-props": ["error", "consistent-as-needed"]
  }
}